/* ==================== COMMENT ==================== */
.comment {
    --color-primary: #01c5fa;
    --color-text: rgba(255, 255, 255, 1);
    --color-text-light: #d8d8d8;
    --color-text-light-black: #A0A0A0;
    --background-shadow:#3c3c3c;
    --background-shadow-light: rgba(255, 255, 255, 0.04);

    padding: 16px;
    box-sizing: border-box;
}

/* write comment */
.write-comment {
    display: flex;
    width: auto;
    height: auto;
    margin-bottom: 8px;
    margin-right: 55px;
}

.write-comment_img {
    width: 36px;
    height: 36px;
    border-radius: 50%;

}

.write-comment_img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.write-comment_content {
    flex: 1;
    max-width: 584px;
    margin-left: 16px;
    margin-bottom: 16px;
}

.write-comment_content-top {
    width: 100%;
    border-bottom: 1px solid var(--color-text-light-black);
}

.write-comment_content-top textarea {
    width: 100%;
    height: auto;
    background-color: transparent;
    outline: none;
    border: none;
    white-space: pre-wrap;
    color: var(--color-text-light);
    font-size: 14px;
    resize: none;
    overflow: hidden;
}

.write-comment_content-top textarea::placeholder {
    color: var(--color-text-light);
}

/* .write-comment_content-top textarea::-webkit-scrollbar {
    width: 0;
    display: none;
} */

.write-comment_content-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6px;
    user-select: none;
}

.write-comment_content-bottom-slogan {
    font-size: 14px;
    color: var(--color-text-light-black);
    font-weight: 300;
}

.write-comment_content-bottom-btn {
    display: flex;
    align-items: center;
    
}

.write-comment_content-bottom-btn-item {
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px 16px;
    border-radius: 16px;
    color: var(--color-text-light);
}

.write-comment_content-bottom-btn-item + .write-comment_content-bottom-btn-item {
    margin-left: 8px;
}

.write-comment_content-bottom-btn-item:active {
    opacity: 0.7;
}

.write-comment_content-bottom-btn-item:hover {
    cursor: pointer;
    background-color: var(--background-shadow-light);
}

.write-comment_content-bottom-btn-item[name='comment'] {
    background-color: var(--color-primary);
}


.write-comment_content-bottom-btn-item.write-comment_content-bottom-btn-item[name='comment']:hover {
    opacity: 0.8;
    background-color: var(--color-primary);
}

.write-comment_content-bottom-btn-item.write-comment_content-bottom-btn-item[name='comment']:active {
    opacity: 0.5;

}

/* View comment */
.view-comment-rely-wrap {
    display: none;
    margin: 8px 0 0 55px;
    border-left: 1px solid var(--color-primary);
}

.view-comment {
    display: flex;
    width: auto;
    height: auto;
    margin-top: 16px;
    margin-right: 55px;

}

.view-comment.view-comment--reply {
    padding: 8px 0 0 16px;
    margin: 0;
    margin-right: 0;
}

.view-comment.view-comment--reply .view-comment-content_content {
    max-width: 568px;
}

.view-comment-img {
    width: 36px;
    height: 36px;
    border-radius: 50%;

}

.view-comment-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.view-comment-content {
    flex: 1;
    
    padding-left: 4px;
    margin-left: 8px;

}

.view-comment-content_content {
    background-color: var(--background-shadow-light);
    width: fit-content;
    border-radius: 18px;
    padding: 9px 12px;
    position: relative;
    max-width: 584px;
    min-width: 120px;
    box-sizing: border-box;

}

.view-comment-content_content-name {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 4px;
    color: var(--color-text);
}

.view-comment-content_content-main {
    color: var(--color-text-light);
    font-size: 14px;
    font-weight: 300;
}

/* Comment reactions */
.view-comment-reactions {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    transform: translateY(50%);
    background-color: #fff;
    padding: 2px 4px 2px 2px;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%);
    user-select: none;

}

.view-comment-reactions_icon {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-size: 100% 100%;
    background-image: url(./img/reactions/like.png);
    z-index: 1;

}

.view-comment-reactions_num {
    padding-left: 4px;
    font-size: 13px;
    font-weight: 500;
    color: #65676b;
    
}

.view-comment-content_btn {
    margin: 14px 0 14px 0;
    font-size: 14px;
    color: var(--color-text-light-black);
    display: flex;
    width: fit-content;
    align-items: center;
    position: relative;
    user-select: none;

}


.view-comment-content_btn-item {
    color: var(--color-primary);
}

.view-comment-content_btn-item[name='liked'] {
    opacity: 0.5;
    font-weight: 700;
    text-shadow: 0 0 1px  #fff;
}

.view-comment-content_btn-item:hover {
    cursor: pointer;
    text-decoration: underline;
}

.view-comment-content_btn--dot {
    transform: translateY(-50%);
    line-height: 14px;
    font-size: 24px;
    margin: 0 6px;
    color: var(--color-text-light-black);
}

.view-comment-content_btn--last-dot { 
    display: inline-block;
    opacity: 0;
}

.view-comment-content_btn-time {
    font-size: 14px;
    color: var(--color-text-light-black);

}

.view-comment-content_btn-btn {
    display: inline-block;
    font-size: 14px;
    opacity: 0;
}

.view-comment-content_btn-btn i {
    transform: translateY(1.5px);
    font-size: 14px;
}

.view-comment-content_btn-btn:hover {
    cursor: pointer;
    color: var(--color-text-light);
}


.view-comment-content_btn:hover .view-comment-content_btn-btn {
    opacity: 1;
}

.view-comment-content_btn:hover .view-comment-content_btn--last-dot {
    opacity: 1;
}

/* Comment feature */
.view-comment-content_feature {
    display: none;
    position: absolute;
    background-color: var(--background-shadow);
    z-index: 1;
    right: 0;
    top: 100%;
    opacity: 0;
    padding: 8px 0;
    min-width: 180px;
    border-radius: 8px;
    box-shadow: 0 -4px 32px rgb(0 0 0 / 20%);
    /* animation: moveDown .3s ease-in-out forwards; */
}

@keyframes moveDown {
    from {
        opacity: 0;
        transform: translateY(8px);
    }
    to {
        opacity: 1;
        transform: translateY(20px);
    }
}

.view-comment-content_feature--for-me-cmt, 
.view-comment-content_feature--for-other-cmt {
    display: none;
}

.view-comment-content_feature[value=me] .view-comment-content_feature--for-me-cmt {
    display: block;
}

.view-comment-content_feature[value=other] .view-comment-content_feature--for-other-cmt {
    display: block;
}


.view-comment-content_feature-item {
    padding: 12px 20px;
    display: flex;
    align-items: center;
    color: var(--color-text-light-black);
}

.view-comment-content_feature-item:hover {
    cursor: pointer;
    background-color: var(--background-shadow-light);
    color: var(--color-text-light);
}

.view-comment-content_feature-item i {
    font-size: 14px;
}

.view-comment-content_feature-item span {
    margin-left: 16px;
    white-space: nowrap;
    font-size: 14px;

}

/* comment reply */
.view-comment-content_reply-cmt {
    width: auto;
    display: none;
}

.view-comment-content_reply-cmt .write-comment {
    margin-right: 0;
}

/* Comment see more */
.view-comment-content_see-more {
    margin-top: -4px;
    margin-bottom: 8px;
    user-select: none;
}

.view-comment-content_see-more[value=none] {
    display: none;
}

.view-comment-content_see-more[value=open] .view-comment-content_see-more-close {
    display: flex;
}

.view-comment-content_see-more[value=close] .view-comment-content_see-more-open {
    display: flex;
}

.view-comment-content_see-more-common {
    display: none;
    align-items: center;
    color: var(--color-text);
}

.view-comment-content_see-more-common p:hover {
    cursor: pointer;
    opacity: 0.7;
}


.view-comment-content_see-more-common i:hover {
    cursor: pointer;
    opacity: 0.7;
}

.view-comment-content_see-more-common p {
    font-size: 16px;
    margin: 0;
    margin-right: 6px;
}

.view-comment-content_see-more-common i {
    font-size: 11px;
    margin: 0;
    /* transform: translateY(1px); */
}

